.git
.gitignore
.pytest_cache
.ruff_cache
__pycache__
*.py[cod]
.env
.venv
frontend/node_modules
frontend/dist
artifacts
icon
output
scripts
tests
!tests/
tests/*
!tests/fixtures/
tests/fixtures/*
!tests/fixtures/rasters/
!tests/fixtures/rasters/*.tif
!tests/fixtures/vectors/
!tests/fixtures/vectors/*.gpkg
